body{
    background-color:lightgray;
    display: flex;
    justify-content: center;
   
   }
   div.parent{
      border:1px solid  lightgray;
      width:900px;
      
   }
   
   div.div1{
          width:900px;
          height:450px;
          background-color:white;
          
   }
   
   
   div.div2{
   
          width:900px;
          height:220px;
          background-color:lightblue;
          padding-bottom: 30px;
   
   }
   
   div.menue{
     display:inline;
   
   }
   
   .ul{
       margin-top:0px;
       position:absolute;
       list-style-type:none;
       width:860px;
       height:50px;
      
       padding-left:10px;
   }
   
   .li{
      float:left;
      padding-top:15px;
      padding-left:60px;
      font-size:16px;
   
   }
   .li a{
             text-decoration:none;
             color:black;
             
          }
          
   .li:first-child{
            padding-right:50px;
            font-family:tahoma;
            font-size:18px;
            padding-left:0px;
            font-weight:bolder;
   }
   .button{
      width:80px;
      height:30px;
      background-color:blue;
      border:1px solid blue;
      
   }
   
   .li:last-child{
            
            padding-top:8px;
           
   }
   
   .mode{
     color:blue;
      font-style:italic;
   }
   
   .images{
      
    color:black;
    padding-top:100px;
    padding-left:60px;
    
       
   }
   .img{
       width:300px;
       height:300px;
       vertical-align:top;
   }
   h1{
    display:inline;
    margin-left:73px;
    
    
   }
   .price{
       color:red;
       text-decoration-line:line-through;
   }
   
   div.color1{
       width:10px;
       height:10px;
       border:1px solid red;
       border-radius:10px;
       background-color:red;
   
   
   }	
   
    div.color2{
       width:10px;
       height:10px;
       border:1px solid blue;
       border-radius:10px;
       background-color:blue;
   
   
    }	
    
     div.color3{
       width:10px;
       height:10px;
       border:1px solid green;
       border-radius:10px;
       background-color:green;
   
   
    }			  
    
     div.color4{
       width:10px;
       height:10px;
       border:1px solid pink;
       border-radius:10px;
       background-color:pink;
   
   
    }	
      .color1 ,.color2 ,.color3 ,.color4{
        
        float:left;
        margin-left:10px;
        margin-top:-10px;
      
      }
      
       .borders div:first-child{ margin-left:0px;}
       
       .button1{
             width:230px;
             height:30px;
             margin-left:454px;
             background-color:blue;
             border:1px solid blue;
             color:white;
       }
       
      .p {
          margin-top:-250px;
          margin-left:454px;
          width:240px;
          height:110px;
          
      }
      
      .borders{
               margin-left:454px;
               margin-top: 72px;
       
      }
      
      
      div.footerr{
           
           width:900px ;
           height:300px;
           padding-top:10px;
           vertical-align:center;
           padding-left:40px;
           

                  }
                  
                  
       .th1 {
            width:200px;
            height:50px;
            
            font-size:18px;
            text-align:left;
            padding-left:40px;
           
                  }
                  
      .td1{
      
          padding-left:40px;
          padding-top:0px;
          vertical-align:top;
          width:200px;
          height:24px;
          
          
          
      }			
      
      
      